@page
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Dev.Store.Localization
@inject IHtmlLocalizer<StoreResource> L
@model Dev.Store.Web.Pages.Products.Product.CreateModalModel
@{
    Layout = null;
}
<form data-ajaxForm="true" asp-page="/Products/CreateModal" autocomplete="off" id="categoryForm">
    <abp-modal size="ExtraLarge">
        <abp-modal-header title="@L["CreateProduct"].Value"></abp-modal-header>
        <abp-modal-body>
            <abp-input asp-for="ViewModel.Name"></abp-input>
            <abp-input asp-for="ViewModel.Code"></abp-input>
            <div class="mb-3">
                <label class="form-label" for="ViewModel_CategoryId">@L["ProductCategoryId"].Value *</label>
                @(
                    Html.Kendo().DropDownListFor(x => x.ViewModel.CategoryId)
                    .OptionLabel(L["PleaseChoose"].Value)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .DataSource(source =>
                    {
                        source.Custom().Transport(c => c.Read(g => g.Url("/api/app/category/data-source").Type(HttpVerbs.Get))).Schema(g => g.Data("Data").Total("Total"))
                        .ServerFiltering(true).ServerSorting(true).ServerPaging(true).Page(1).PageSize(100).Type("aspnetmvc-ajax");
                    })
                    )

                <span class="text-danger field-validation-valid" data-valmsg-for="ViewModel.CategoryId" data-valmsg-replace="true"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" for="ViewModel_BrandId">@L["ProductBrandId"].Value</label>
                @(
                    Html.Kendo().DropDownListFor(x => x.ViewModel.BrandId)
                    .OptionLabel(L["PleaseChoose"].Value)
                    .DataTextField("Name")
                    .DataValueField("Id")
                    .HtmlAttributes(new { style = "width: 100%" })
                    .DataSource(source =>
                    {
                        source.Custom().Transport(c => c.Read(g => g.Url("/api/app/brand/data-source").Type(HttpVerbs.Get))).Schema(g => g.Data("Data").Total("Total"))
                        .ServerFiltering(true).ServerSorting(true).ServerPaging(true).Page(1).PageSize(100).Type("aspnetmvc-ajax");
                    })
                    )
            </div>
            <abp-input asp-for="ViewModel.IsEnabled" checked></abp-input>
            <div class="mb-3">
                @(Html.Kendo().EditorFor(x=>x.ViewModel.Description)
                .HtmlAttributes(new { style = "width: 100%; height:540px" }))
            </div>


        </abp-modal-body>
        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>