@using Volo.Abp.UI.Navigation
@model ApplicationMenu
@foreach (var category in Model.Items)
{
    <li class="mega" id="@category.ElementId">
        <a href="@(category.Items.Count() > 0?"#":category.Url)">@category.DisplayName</a>
        @if (category.Items.Count() > 0)
        {
            <ul class="mega-menu full-mega-menu">
                <li>
                    <div class="container">
                        <div class="row">
                            @for (int i = 0; i < (category.Items.Count() > 5 ? Math.Ceiling(category.Items.Count() / 5.00) : 1); i++)
                            {
                                <div class="col mega-box">
                                    <div class="link-section">
                                        <div class="menu-content">
                                            <ul>
                                                @foreach (var subCategory in category.Items.OrderBy(x=>x.Order).Skip(i * 5).Take(5))
                                                {
                                                    <li>
                                                        <a href="@subCategory.Url">
                                                            @subCategory.DisplayName
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col">
                                <img src="@category.CustomData"
                             class="img-fluid mega-img" style="max-width:150px">
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        }
    </li>
}
