@using Dev.Store.Localization;
@using Dev.Store.Web.UI.Branding;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.UI.Navigation
@using Volo.Abp.Ui.Branding;
@inject IHtmlLocalizer<StoreResource> L
@inject IDevBrandingProvider BrandingProvider
@model ApplicationMenu
<footer class="footer-light">
    <div class="light-layout">
        <div class="container">
        </div>
    </div>
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-contant">
                        <div class="footer-logo"><img src="@BrandingProvider.LogoUrl" style="max-width:220px;" alt=""></div>
                        <p>
                            @Html.Raw(BrandingProvider.SiteDescription)
                        </p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="https://tr-tr.facebook.com/yatakbazaburada/"><i class="fa fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/yatakbazaburada"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="https://www.instagram.com/yatakbazaburada/"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>@L["Categories"]</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                @foreach (var item in Model.Items.Take(5))
                                {
                                    var url = string.IsNullOrEmpty(item.Url) ? "#" : Url.IsLocalUrl(item.Url) ? Url.Content(item.Url.EnsureStartsWith('~')) : item.Url;
                                    <li>
                                        <a href="@url">@item.DisplayName</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>@L["Categories"]</h4>
                        </div>
                        <div class="footer-contant">
                            <ul>
                                @foreach (var item in Model.Items.Skip(5).Take(5))
                                {
                                    <li><a href="@item.Url">@item.DisplayName</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                @*  <div class="col">
                <div class="sub-title">
                <div class="footer-title">
                <h4>@L["SupportAndHelp"]</h4>
                </div>
                <div class="footer-contant">
                <ul>
                <li><a href="#">shipping & return</a></li>
                <li><a href="#">secure shopping</a></li>
                <li><a href="#">gallary</a></li>
                <li><a href="#">affiliates</a></li>
                <li><a href="#">contacts</a></li>
                </ul>
                </div>
                </div>
                </div> *@
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>@L["StoreInformation"].Value</h4>
                        </div>
                        <div class="footer-contant">
                            <ul class="contact-list">
                                <li>
                                    <i class="fas fa-map-marker"></i>@BrandingProvider.Address
                                </li>
                                <li><i class="fa fa-phone"></i>@BrandingProvider.PhoneNumber</li>
                                <li><i class="fa fa-envelope"></i> <a href="mail:@BrandingProvider.Email">@BrandingProvider.Email</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-12">
                    <div class="footer-end">
                        <p>
                            <i class="fa fa-copyright" aria-hidden="true"></i> @BrandingProvider.AppName
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>