@page "{category}/{subcategory}"
@using Dev.Store.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@inject IHtmlLocalizer<StoreResource> L
@model Dev.Store.Web.Public.Pages.Categories.IndexModel
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = Model.Category.Name;
    PageLayout.Content.BreadCrumb.Add(Model.Category.CategoryParent.Name);
    PageLayout.Content.BreadCrumb.Add(Model.Category.Name);
}
<style>
    .product-pagination {
        border: none !important;
    }

    .product-top-filter {
        border: none !important;
    }

    .search-count {
        border: none !important;
    }

    .ratio_asos .bg-size:before {
        padding-top: 60%;
        content: "";
        display: block;
    }
</style>
<section class="section-b-space ratio_asos">
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="collection-content col">
                    <div class="page-main-content">
                        <div class="collection-product-wrapper">
                            <div class="product-top-filter">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="product-filter-content">
                                            <div class="search-count">
                                                <h5>@Model.ProductCount @L["CountOfProduct"]</h5>
                                            </div>

                                            <div class="product-page-filter">
                                                <select>
                                                    <option data-sorting-key="smart" value="smart" selected="">@L["Sort"].Value</option>
                                                    <option data-sorting-key="price_asc" value="price_asc">@L["price_asc"].Value</option>
                                                    <option data-sorting-key="price_desc" value="price_desc">@L["price_desc"].Value</option>
                                                    <option data-sorting-key="newest" value="newest">@L["newest"].Value</option>
                                                    <option data-sorting-key="rate_desc" value="rate_desc">@L["rate_desc"].Value</option>
                                                    <option data-sorting-key="rate_count_desc" value="rate_count_desc">@L["rate_count_desc"].Value</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-wrapper-grid">
                                <div class="row margin-res">
                                    @foreach (var product in Model.Products)
                                    {

                                        <div class="col-lg-3 col-6 col-sm-6 col-md-6 col-grid-box">
                                            <div class="product-box">
                                                <div class="img-wrapper">
                                                    <div class="front">
                                                        <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                                            <img src="@product.MainImagePath"
                                                                 class="img-fluid blur-up lazyload bg-img" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="back">
                                                        <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                                            <img src="@product.SecondImagePath"
                                                                 class="img-fluid blur-up lazyload bg-img" alt="">
                                                        </a>
                                                    </div>

                                                    @*<div class="cart-info cart-wrap">
                                                <button data-bs-toggle="modal" data-bs-target="#addtocart"
                                                title="Add to cart">
                                                <i class="ti-shopping-cart"></i>
                                                </button> <a href="javascript:void(0)" title="Add to Wishlist">
                                                <i class="ti-heart" aria-hidden="true"></i>
                                                </a> <a href="#"
                                                data-bs-toggle="modal" data-bs-target="#quick-view"
                                                title="Quick View">
                                                <i class="ti-search"
                                                aria-hidden="true"></i>
                                                </a> <a href="compare.html"
                                                title="Compare">
                                                <i class="ti-reload"
                                                aria-hidden="true"></i>
                                                </a>
                                                </div>*@
                                                </div>
                                                <div class="product-detail">
                                                    <div>
                                                        <div class="rating">
                                                            <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                        </div>
                                                        <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                                            <h6>@product.Name</h6>
                                                        </a>
                                                        <h4>@product.Price.ToString("n2") ₺</h4>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                </div>
                            </div>
                            <div class="product-pagination">
                                <div class="theme-paggination-block" style="    display: flex;  justify-content: center;">
                                    <div class="row">
                                        <div class="col-xl-12 col-md-12 col-sm-12">
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">


                                                    @for (int i = 0; i < Math.Ceiling(Model.ProductCount / 25.00); i++)
                                                    {
                                                        var link = i + 1;
                                                        <li class="page-item @(Model.Paging==i?"active":"")">
                                                            <a class="page-link" href="/Categories/@(Model.Category.CategoryParent.Link)/@Model.Category.Link?paging=@i">@link</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </nav>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>