@page "{category}/{subcategory}/{productlink}"
@using Dev.Store.Localization;
@using Dev.Store;
@using Microsoft.AspNetCore.Mvc.Localization;
@using System.Text.Json;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout;
@model Dev.Store.Web.Public.Pages.Product.IndexModel
@inject IHtmlLocalizer<StoreResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.Title = Model.Product.Name;
    PageLayout.Content.BreadCrumb.Add(L["Home"].Value, "/");
    PageLayout.Content.BreadCrumb.Add(Model.Category.CategoryParent.Name, "/Categories/" + Model.Category.CategoryParent.Link);
    PageLayout.Content.BreadCrumb.Add(Model.Category.Name, "/Categories/" + Model.Category.CategoryParent.Link + "/" + Model.Category.Link);
}
@section scripts{
    <abp-script src="/assets/js/sticky-kit.js"></abp-script>
    <abp-script src="/Pages/Product/index.js"></abp-script>
    <abp-script src="/Pages/Product/cart.js"></abp-script>
    <script>

        product.conts.product = @Html.Raw(JsonSerializer.Serialize(Model.Product))

    </script>


}
@section styles{
    <abp-style src="/Pages/Product/index.css"></abp-style>

}

<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row data-sticky_parent">
                <div class="col-sm-12 col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-lg-2 col-sm-2 col-xs-12">
                            <div class="row">
                                <div class="col-12 p-0">
                                    <div class="slider-right-nav">
                                        @foreach (var image in Model.Product.ProductImages)
                                        {
                                            <div>
                                                <img src="@(image.UploadFile.Small())" alt=""
                                                     class="img-fluid blur-up lazyload">
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-10 col-sm-12 col-xs-12 order-up">
                            <div class="product-right-slick">
                                @foreach (var image in Model.Product.ProductImages)
                                {
                                    <div>
                                        <img style="margin:auto;" src="@image.UploadFile.Big()" alt=""
                                             class="img-fluid blur-up lazyload image_zoom_cls-0">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <abp-accordion>
                            @if (Model.Product.ProductSizes.Any())
                            {
                                <abp-accordion-item title="@L["MeasurementOptions"].Value">
                                    <div class="size-slick" style="padding:25px">
                                        @foreach (var size in Model.Product.ProductSizes)
                                        {
                                            <a href="#" class="p-10 text-center " tabindex="0" data-size-price="@size.Price.ToString("n2") ₺" data-size-id="@size.Id">
                                                <img src="@Model.Product.ProductImages.FirstOrDefault(x=>x.IsMain ||true).UploadFile.Small()" style="margin:auto" class="@(Model.Product.Price==size.Price?"size-active":"")">
                                                <span class="text-center product-size-measurement">@(size.Height)x@(size.Width)</span>
                                                <p class="product-size-price"> @size.Price.ToString("n2") ₺ </p>
                                            </a>
                                        }
                                    </div>
                                </abp-accordion-item>
                            }
                            @if (Model.Product.ProductSets.Any())
                            {
                                <abp-accordion-item title="@L["SetOptions"].Value">
                                    <div class="single-product-tables">
                                        <table class="" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Parçalar</th>
                                                    <th>Birim Fiyat</th>
                                                    <th width="20%">Adet</th>
                                                    <th>Toplam Fiyat</th>
                                                </tr>

                                            </thead>

                                            <tbody>

                                                @foreach (var set in Model.Product.ProductSets)
                                                {

                                                    <tr>
                                                        <td>@set.SetName</td>
                                                        <td>@set.Price.ToString("n2") ₺</td>
                                                        <td>
                                                            @if (set.IsOptional)
                                                            {
                                                                <a href="#">takıma ekle</a>
                                                            }
                                                            else
                                                            {
                                                                <input type="number" class="numberstyle" min="0" step="1" value="@set.Amount" />
                                                            }
                                                        </td>
                                                        <td>@((set.Amount * set.Price).ToString("n2")) ₺</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>

                                    </div>



                                </abp-accordion-item>
                            }
                            <abp-accordion-item title="@L["Details"].Value">
                                @Html.Raw(Model.Product.Description)
                            </abp-accordion-item>
                        </abp-accordion>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="product-right pro_sticky_info">
                        <h2 class="price-detail text-center">@Model.Product.Price.ToString("n2") ₺</h2>
                        <div class="rating-section">
                            <div class="rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div>
                            @* <h6>120 ratings</h6>*@
                        </div>
                        @*  <ul class="color-variant">
                        <li class="bg-light0 active"></li>
                        <li class="bg-light1"></li>
                        <li class="bg-light2"></li>
                        </ul>*@
                        @*     @if (Model.Product.ProductSizes.Any())
                        {
                        <div id="selectSize" class="addeffect-section product-description border-product">
                        <h6 class="product-title size-text">
                        @L["SelectSize"] <span>
                        </span>
                        </h6>
                        <h6 class="error-message"> @L["PleaseSelectSize"]</h6>
                        <div class="size-box">
                        <ul>
                        @foreach (var item in Model.Product.ProductSizes.OrderBy(x => x.Height).ThenBy(x => x.Width))
                        {
                        <li class="@(item.Price==Model.Product.Price?"active":"")"><a href="javascript:void(0)" onclick="product.functions.sets.init('@item.Price.ToString("n2") ₺')">@item.Height x @item.Width</a></li>
                        }
                        </ul>
                        </div>
                        </div>
                        }
                        @if (Model.Product.ProductSets.Any())
                        {
                        <div id="selectSet" class="addeffect-section product-description border-product">
                        <h6 class="product-title size-text">
                        @L["SetContent"]
                        <span>
                        </span>
                        </h6>
                        <table class="table table-borderless">
                        <thead>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Product.ProductSets.OrderBy(x => x.Price))
                        {
                        <tr>
                        <td>@item.SetName</td>
                        <td>@item.Amount</td>
                        <td data-size-target="@item.Id">@((item.Price * item.Amount).ToString("n2")) ₺</td>
                        </tr>
                        }
                        </tbody>
                        </table>
                        </div>
                        }*@
                        <div class="product-buttons" onclick="product.functions.cart.addToChart()">
                            <a href="javascript:void(0)" id="cartEffect"
                               class="btn btn-solid hover-solid btn-animation btn-block" style="margin-left:0px!important">
                                <i class="fa fa-shopping-cart me-1"
                                   aria-hidden="true"></i> @L["AddToChart"].Value
                            </a>
                        </div>
                        <div class="product-count">
                            <ul>
                                <li>
                                    <img src="/assets/images/icon/truck.png" class="img-fluid" alt="image">
                                    <span class="lang">@L["ThisProductHasFreeCargo"]</span>
                                </li>
                            </ul>
                        </div>
                        @*  <div class="border-product">
                        <h6 class="product-title">shipping info</h6>
                        <ul class="shipping-info">
                        <li>100% Original Products</li>
                        <li>Free Delivery on order above Rs. 799</li>
                        <li>Pay on delivery is available</li>
                        <li>Easy 30 days returns and exchanges</li>
                        </ul>
                        </div>*@
                        @*<div class="border-product">
                        <h6 class="product-title">share it</h6>
                        <div class="product-icon">
                        <ul class="product-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        </ul>
                        </div>
                        </div>*@
                    </div>
                </div>



                <div class="col-lg-4 rtl-text">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<!-- product-tab starts -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
        </div>
    </div>
</section>
<!-- product-tab ends -->
<!-- product section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>@L["ReleatedProducts"].Value</h2>
            </div>
        </div>
        <div class="row search-product">
            @foreach (var product in Model.RelatedProducts)
            {
                <div class="col-xl-3 col-md-4 col-6">
                    <div class="product-box">
                        <div class="img-wrapper">
                            <div class="front">
                                <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                    <img src="@product.MainImagePath"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                            <div class="back">
                                <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                    <img src="@product.SecondImagePath"
                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="product-detail">
                            <div>
                                <div class="rating">
                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                </div>
                                <a href="/Product/@Model.Category.CategoryParent.Link/@Model.Category.Link/@product.Code">
                                    <h6>@product.Name</h6>
                                </a>
                                <h4>@product.Price.ToString("n2") ₺</h4>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
