@using Dev.Store
@model Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent.HomeSliderModel
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}
<section class="p-0">
    <div class="slide-1 home-slider">
        @foreach (var item in Model.Sliders)
        {
            <div>
                <div class="home text-start">
                    <img src="@item.UploadFile.Big()" alt="" class="bg-img blur-up lazyload">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h4>@item.Subtitle</h4>
                                        <h1>@item.Title</h1>
                                        @if (!string.IsNullOrEmpty(item.ButtonLink))
                                        {
                                            <a href="@item.ButtonLink" class="btn btn-solid">@item.ButtonText</a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>re 