@page
@using Dev.Store.Permissions
@using Dev.Store.ProductSets.Dtos;
@using Dev.Store.ProductSizes.Dtos;
@using Dev.Store.Products.Dtos;
@using Dev.Store;
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Dev.Store.Web.Pages.Products.Detail
@using Dev.Store.Localization
@using Dev.Store.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<StoreResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = Model.Product.Name;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Product"].Value);
    PageLayout.Content.MenuItemName = StoreMenus.Product;
    var _default = await Authorization.IsGrantedAsync(StorePermissions.Product.Default);
    var create = await Authorization.IsGrantedAsync(StorePermissions.Product.Create);
    var delete = await Authorization.IsGrantedAsync(StorePermissions.Product.Delete);
    var update = await Authorization.IsGrantedAsync(StorePermissions.Product.Update);


    var _defaultProductSize = await Authorization.IsGrantedAsync(StorePermissions.ProductSize.Default);
    var createProductSize = await Authorization.IsGrantedAsync(StorePermissions.ProductSize.Create);
    var deleteProductSize = await Authorization.IsGrantedAsync(StorePermissions.ProductSize.Delete);
    var updateProductSize = await Authorization.IsGrantedAsync(StorePermissions.ProductSize.Update);


    var _defaultProductSet = await Authorization.IsGrantedAsync(StorePermissions.ProductSet.Default);
    var createProductSet = await Authorization.IsGrantedAsync(StorePermissions.ProductSet.Create);
    var deleteProductSet = await Authorization.IsGrantedAsync(StorePermissions.ProductSet.Delete);
    var updateProductSet = await Authorization.IsGrantedAsync(StorePermissions.ProductSet.Update);
}
@section scripts
    {
    <abp-script src="/Pages/ProductSizes/index.js" />
}
@section styles
    {
    <abp-style src="/Pages/Products/index.css" />
}
<abp-row>
    <abp-container class="col-sm-12 col-md-12 col-lg-12 col-xl-2">
        <abp-card>
            <a style="position:absolute;right:10px;top:10px;color:#000;" data-toggle="modal" data-url="Things/EditModal?Id=3a0803ec-7d5a-0266-0f52-ea5231def964" href="#"><i class="fa fa-edit"></i></a>

            <div class="rounded-circle" style="width: 100px; height: 100px; background: #4736a0; color: #fff; margin: 30px auto 0px; text-align: center; line-height: 100px; ">
                <i class="fa-3x fa-archive"></i>
            </div>
            <abp-card-body>
                <abp-card-title class="m-0 text-center  pt-1">@Model.Product.Name</abp-card-title>
                <div class="text-center">
                    <small class="d-block" data-toggle="tooltip" data-original-title="@L["ProductCode"].Value">@Model.Product.Code</small>
                    <small class="d-block" data-toggle="tooltip" data-original-title="@L["ProductCategory"].Value">@Model.Product.Category.Name</small>
                </div>
            </abp-card-body>
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="productImage-list" data-bs-toggle="tab" data-bs-target="#productImages" role="tab" aria-controls="property">@L["ProductImage"].Value</a>
                <a class="list-group-item list-group-item-action " id="productsize-list" data-bs-toggle="tab" data-bs-target="#productsize" role="tab" aria-controls="property">@L["ProductSize"].Value</a>
                <a class="list-group-item list-group-item-action " id="productsets-list" data-bs-toggle="tab" data-bs-target="#productsets" role="tab" aria-controls="property">@L["ProductSet"].Value</a>
                <a class="list-group-item list-group-item-action " id="parameter-list" data-bs-toggle="tab" data-bs-target="#parameters" role="tab" aria-controls="property">@L["SeoSettings"].Value</a>
            </div>
        </abp-card>
    </abp-container>
    <abp-container class="col-sm-12 col-md-12 col-lg-12 col-xl-10">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="productImages" role="tabpanel" aria-labelledby="productImage-list">
                <abp-card>
                    <abp-card style="box-shadow:none">
                        <abp-card-header>
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title float-start">
                                        @L["ProductImage"].Value
                                    </h2>
                                    @if (createProductSize)
                                    {
                                        <abp-button text="@L["CreateProductImage"].Value" icon="plus" class="float-end ml-3" onclick="productImages.functions.create(this,'@Model.Product.Id')" button-type="Secondary" />
                                    }
                                </div>
                            </div>
                        </abp-card-header>
                        <abp-card-body>

                        </abp-card-body>
                    </abp-card>
                </abp-card>
            </div>
            <div class="tab-pane fade " id="productsize" role="tabpanel" aria-labelledby="productsize-list">
                <abp-card>
                    <abp-card style="box-shadow:none">
                        <abp-card-header>
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title float-start">
                                        @L["ProductSize"].Value
                                    </h2>
                                    @if (createProductSize)
                                    {
                                        <abp-button text="@L["CreateProductSize"].Value" icon="plus" class="float-end ml-3" onclick="productsizes.functions.create(this,'@Model.Product.Id')" button-type="Secondary" />
                                    }
                                </div>
                            </div>
                        </abp-card-header>
                        <abp-card-body>

                            @(
                                Html.Kendo().Grid<ProductSizeDto>()
                                .Name("ProductSizeGrid")
                                .Columns(columns =>
                                {
                                    columns.Command(command =>
                                    {
                                        if (updateProductSize)
                                        {
                                            command.Custom(L["Edit"].Value).IconClass("fa fa-edit").Click("productsizes.functions.edit");
                                        }
                                        if (deleteProductSize)
                                        {
                                            command.Custom(L["Delete"].Value).IconClass("fa fa-trash").Click("productsizes.functions.delete");
                                        }
                                    }).Title(L["Actions"].Value).Width(200);
                                    columns.Bound(a => a.Code).Title(L["ProductSizeCode"].Value);
                                    columns.Bound(a => a.Height).Title(L["ProductSizeHeight"].Value);
                                    columns.Bound(a => a.Width).Title(L["ProductSizeWidth"].Value);
                                    columns.Bound(a => a.Depth).Title(L["ProductSizeDepth"].Value);
                                    columns.Bound(a => a.Price).Title(L["ProductSizePrice"].Value).Format(Extensions.MoneyFormat("₺"));
                                    columns.Bound(a => a.IsDefault).Title(L["ProductSizeIsDefault"].Value).ClientTemplate("#:IsDefault?'Evet':'Hayır'#");

                                })
                                .ToolBar(tools =>
                                {
                                    tools.Excel().Text(" ");
                                    tools.Pdf().Text(" ");
                                    tools.Search().Text(L["Search"].Value);
                                })
                                .Mobile()
                                .Search(c => { c.Field(c => c.Height); c.Field(c => c.Width); c.Field(c => c.Depth); c.Field(c => c.Price); })
                                .Sortable(a => a.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
                                .Resizable(a => a.Columns(true))
                                .Filterable(a => a.Enabled(true))
                                .Scrollable(x => x.Height(520))
                                .Pageable(x => x.PageSizes(new[] { 25, 50, 100 }).Refresh(true))
                                .Filterable(a => a.Enabled(true))
                                .Excel(a => a.AllPages(true).FileName(string.Format("{0} {1:dd-MM-yyyy-hh-mm-ss}.xlsx", L["Profiles"].Value, DateTime.Now)).Filterable(true))
                                .Pdf(a => a.AllPages(true).FileName(string.Format("{0} {1:dd-MM-yyyy-hh-mm-ss}.pdf", L["Profiles"].Value, DateTime.Now)))
                                .Events(a => a.DataBound("kendoGrid.events.databound")
                                .Edit("kendoGrid.events.edit")
                                .Cancel("kendoGrid.events.cancel")
                                .CellClose("kendoGrid.events.cellClose")
                                .Change("kendoGrid.events.change"))
                                .DataSource(dataSource =>
                                dataSource.WebApi()
                                .Model(model => { model.Id(a => a.Id); })
                                .Read(read => read.Url("/api/app/product-size/data-source"))
                                .Filter(a => a.Add(b => b.ProductId).IsEqualTo(Model.Id))
                                ).Deferred()
                                )
                        </abp-card-body>
                    </abp-card>
                </abp-card>
            </div>
            <div class="tab-pane fade " id="productsets" role="tabpanel" aria-labelledby="productsets-list">
                <abp-card>
                    <abp-card style="box-shadow:none">
                        <abp-card-header>
                            <div class="row">
                                <div class="col">
                                    <h2 class="card-title float-start">
                                        @L["ProductSet"].Value
                                    </h2>
                                    @if (createProductSet)
                                    {
                                        <abp-button text="@L["CreateProductSize"].Value" icon="plus" class="float-end ml-3" onclick="productsizes.functions.create(this,'@Model.Product.Id')" button-type="Secondary" />
                                    }
                                </div>
                            </div>
                        </abp-card-header>
                        <abp-card-body>
                            @(Html.Kendo().Grid<ProductSetDto>()
                                .Name("ProductSetGrid")
                                .Columns(columns =>
                                {
                                    columns.Command(command =>
                                    {
                                        if (updateProductSet)
                                        {
                                            command.Custom(L["Edit"].Value).IconClass("fa fa-edit").Click("productsizes.functions.edit");
                                        }
                                        if (updateProductSet)
                                        {
                                            command.Custom(L["Delete"].Value).IconClass("fa fa-trash").Click("productsizes.functions.delete");
                                        }
                                    }).Title(L["Actions"].Value).Width(200);
                                    columns.Bound(a => a.Code).Title(L["ProductSetCode"].Value);
                                    columns.Bound(a => a.SetName).Title(L["ProductSetSetName"].Value);
                                    columns.Bound(a => a.Price).Title(L["ProductSetPrice"].Value).Format(Extensions.MoneyFormat("₺"));
                                    columns.Bound(a => a.Amount).Title(L["ProductSetAmount"].Value);
                                    columns.Bound(a => a.IsOptional).Title(L["ProductSetIsOptional"].Value).ClientTemplate("#:IsOptional?'Evet':'Hayır'#");

                                })
                                .ToolBar(tools =>
                                {
                                    tools.Excel().Text(" ");
                                    tools.Pdf().Text(" ");
                                    tools.Search().Text(L["Search"].Value);
                                })
                                .Mobile()
                                .Search(c => { c.Field(c => c.Code); c.Field(c => c.SetName); c.Field(c => c.Amount); c.Field(c => c.Price); })
                                .Sortable(a => a.AllowUnsort(true).SortMode(GridSortMode.MultipleColumn))
                                .Resizable(a => a.Columns(true))
                                .Filterable(a => a.Enabled(true))
                                .Scrollable(x => x.Height(520))
                                .Pageable(x => x.PageSizes(new[] { 25, 50, 100 }).Refresh(true))
                                .Filterable(a => a.Enabled(true))
                                .Excel(a => a.AllPages(true).FileName(string.Format("{0} {1:dd-MM-yyyy-hh-mm-ss}.xlsx", L["Profiles"].Value, DateTime.Now)).Filterable(true))
                                .Pdf(a => a.AllPages(true).FileName(string.Format("{0} {1:dd-MM-yyyy-hh-mm-ss}.pdf", L["Profiles"].Value, DateTime.Now)))
                                .Events(a => a.DataBound("kendoGrid.events.databound")
                                .Edit("kendoGrid.events.edit")
                                .Cancel("kendoGrid.events.cancel")
                                .CellClose("kendoGrid.events.cellClose")
                                .Change("kendoGrid.events.change"))
                                .DataSource(dataSource =>
                                dataSource.WebApi()
                                .Model(model => { model.Id(a => a.Id); })
                                .Read(read => read.Url("/api/app/product-set/data-source"))
                                .Filter(a => a.Add(b => b.ProductId).IsEqualTo(Model.Id))
                                ).Deferred())
                        </abp-card-body>
                    </abp-card>
                </abp-card>
            </div>
        </div>









    </abp-container>


</abp-row>