@using Dev.Store.Localization;
@using Dev.Store.Permissions;
@using Dev.Store.ProductImages.Dtos;
@using Dev.Store.Web.Pages.SeoSettings.SeoSetting.ViewModels;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@inject IAuthorizationService Authorization
@inject IHtmlLocalizer<StoreResource> L
@model CreateEditSeoSettingViewModel
@{
    Layout = null;

    var _defaultProductImage = await Authorization.IsGrantedAsync(StorePermissions.ProductImage.Default);

}
<style>

    .product-image {
        width: 350px;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .form-switch .form-check-input {
        margin-left: -1px !important;
    }

</style>
@section scripts
    {

    }

<abp-card>
    <abp-card style="box-shadow:none">
        <abp-card-header>
            <div class="row">
                <div class="col">
                    <h2 class="card-title float-start">
                        @L["SeoSettings"].Value
                    </h2>
                </div>
            </div>
        </abp-card-header>
        <abp-card-body>

            <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <div class="row seo-padding" style="cursor: pointer;">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <div>
                                                <img height="16"
                                                     src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABs0lEQVR4AWL4//8/RRjO8Iucx+noO0MWUDo16FYABMGP6ZfUcRnWtm27jVPbtm3bttuH2t3eFPcY9pLz7NxiLjCyVd87pKnHyqXyxtCs8APd0rnyxiu4qSeA3QEDrAwBDrT1s1Rc/OrjLZwqVmOSu6+Lamcpp2KKMA9PH1BYXMe1mUP5qotvXTywsOEEYHXxrY+3cqk6TMkYpNr2FeoY3KIr0RPtn9wQ2unlA+GMkRw6+9TFw4YTwDUzx/JVvARj9KaedXRO8P5B1Du2S32smzqUrcKGEyA+uAgQjKX7zf0boWHGfn71jIKj2689gxp7OAGShNcBUmLMPVjZuiKcA2vuWHHDCQxMCz629kXAIU4ApY15QwggAFbfOP9DhgBJ+nWVJ1AZAfICAj1pAlY6hCADZnveQf7bQIwzVONGJonhLIlS9gr5mFg44Xd+4S3XHoGNPdJl1INIwKyEgHckEhgTe1bGiFY9GSFBYUwLh1IkiJUbY407E7syBSFxKTszEoiE/YdrgCEayDmtaJwCI9uu8TKMuZSVfSa4BpGgzvomBR/INhLGzrqDotp01ZR8pn/1L0JN9d9XNyx0AAAAAElFTkSuQmCC">
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <p>www.yatakbazaburada.com > product/@Model.Product.Code</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h4 style="color:rgb(25, 13,210)">
                                                <p id="productName">@Model.Title</p> - yatabazaburada.com
                                            </h4>
                                        </div>
                                        <div class="col-sm-10">
                                            <p *ngIf="siteDescription?.length<=0">
                                                <span class="text-muted">@DateTime.Now.ToString("dd.MM.yyyy") ⋅ </span>
                                                Lütfen aşağıdaki kod parçasını düzenleyerek bir meta açıklama sağlayın. Aksi takdirde,
                                                Google arama sonuçlarında gösterilmek üzere yayınınızın alakalı bir bölümünü bulmaya
                                                çalışır.
                                            </p>
                                            <p *ngIf="siteDescription?.length>0">
                                                <span class="text-muted">@DateTime.Now.ToString("dd.MM.yyyy")</span>
                                                <p id="productName">@Model.Description</p>
                                            </p>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="d-flex align-items-center">
                                                <img  id="mainImage"
                                                     style="border-radius: 10%;" height="104" width="104">
                                            </div>
                                        </div>
                                    </div>
                                    <div> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
               
            </div>

        </abp-card-body>
    </abp-card>
</abp-card>

