@using Dev.Store.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;
@model Dev.Store.Web.Public.Pages.IndexComponents.TabProductComponent.TabProductComponentModel
@inject IHtmlLocalizer<StoreResource> L
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}

<div class="title1 section-t-space">
    <h4>@L["ChooseForYou"]</h4>
    <h2 class="title-inner1">@L["FeaturedProduct"]</h2>
</div>

<section class="section-b-space pt-0 ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="theme-tab">
                    <ul class="tabs tab-title">
                        <li class="current"><a href="tab-4">@L["New Products"].Value</a></li>
                        <li class=""><a href="tab-5">@L["Top Sellers"].Value</a></li>
                    </ul>
                    <div class="tab-content-cls">
                        <div id="tab-4" class="tab-content active default">
                            <div class="no-slider row">
                                @foreach (var product in Model.NewProducts)
                                {
                                    <div class="product-box">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <img src="@Html.Raw(product.MainImagePath)"
                                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <img src="@Html.Raw(product.SecondImagePath)"
                                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <h6>@product.Name</h6>
                                                </a>
                                                <h4>@product.Price.ToString("n2") ₺</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div id="tab-5" class="tab-content">
                            <div class="no-slider row">
                                @foreach (var product in Model.BestSellers)
                                {
                                    <div class="product-box">
                                        <div class="img-wrapper">
                                            <div class="front">
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <img src="@Html.Raw(product.MainImagePath)"
                                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                                </a>
                                            </div>
                                            <div class="back">
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <img src="@Html.Raw(product.SecondImagePath)"
                                                         class="img-fluid blur-up lazyload bg-img" alt="">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-detail">
                                            <div>
                                                <div class="rating">
                                                    <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                </div>
                                                <a href="/Product/@product.ParentCategoryLink/@product.CategoryLink/@product.Code">
                                                    <h6>@product.Name</h6>
                                                </a>
                                                <h4>@product.Price.ToString("n2") ₺</h4>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>