@page
@using Dev.Store.Categories.Dtos;
@using Dev.Store.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using Dev.Store.Web.Pages.Entities.Category
@using Dev.Store.Localization
@using Dev.Store.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<StoreResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title= Model.Category == null ? L["Menu:Category"].Value : Model.Category.Name;
    PageLayout.Content.BreadCrumb.Items.AddRange(Model.BreadCrumb.Items);
    PageLayout.Content.MenuItemName = StoreMenus.Category;
    var _default = await Authorization.IsGrantedAsync(StorePermissions.Category.Default);
    var create = await Authorization.IsGrantedAsync(StorePermissions.Category.Create);
    var delete = await Authorization.IsGrantedAsync(StorePermissions.Category.Delete);
    var update = await Authorization.IsGrantedAsync(StorePermissions.Category.Update);
}
@section scripts
    {
    <script>var _id = "@Model.Id"</script>
    <abp-script src="/Pages/Categories/index.js" />
}
@section styles
    {
    <abp-style src="/Pages/Categories/index.css" />
}


<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@(Model.Category == null ? L["Category"] : Model.Category.Name)</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (create)
                {
                    <abp-button text="@L["CreateCategory"].Value" icon="plus" onclick="categories.functions.create(this)" button-type="Primary" />
                }

                @if (Model.Category != null)
                {

                    <abp-button text="@L["EditCategory"].Value" icon="edit" onclick="categories.functions.edit(null,'@Model.Category?.Id')" button-type="Info" />
                    @if (Model.Category?.File != null)
                    {
                        <abp-button text="@L["CoverPhoto"].Value" icon="image" onclick="categories.functions.image('@Model.Category.File.FilePath')" button-type="Secondary" />
                    }
                }


            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        @(
            Html.Kendo().Grid<CategoryDto>()
            .Name("categories")
            .Columns(columns =>
            {
                columns.Command(command =>
                {
                    if (_default) command.Custom(L["MoveUp"].Value).IconClass("fa fa-arrow-up").Click("categories.functions.moveUp").HtmlAttributes(new Dictionary<string, object> {});
                    if (_default) command.Custom(L["MoveDown"].Value).IconClass("fa fa-arrow-down").Click("categories.functions.moveDown").HtmlAttributes(new Dictionary<string, object> { });
                    if (_default) command.Custom(L["Detail"].Value).IconClass("fa fa-info-circle").Click("categories.functions.detail").HtmlAttributes(new Dictionary<string, object> { { "data-dblclick", "true" } });
                    if (update) command.Custom(L["Edit"].Value).IconClass("fa fa-edit").Click("categories.functions.edit");
                    if (delete) command.Custom(L["Delete"].Value).IconClass("fa fa-trash").Click("categories.functions.delete");
                });
                columns.Bound(p => p.Name).Title(L["CategoryName"].Value);
                columns.Bound(p => p.Link).Title(L["CategoryCode"].Value);
                columns.Bound(p => p.Order).Title(L["Order"].Value);
                columns.Bound(p => p.CreationTime).Title(L["CreationTime"].Value).Format(Dev.Store.Extensions.DateTimeLongFormat);
                columns.Bound(p => p.Description).Title(L["CategoryDescription"].Value).ClientTemplate("<span title='#:Description#' data-bs-toggle='tooltip'>#:Description?.substr(0,10)#</span>");
                columns.Bound(p => p.IsVisible).Title(L["CategoryIsVisible"].Value).ClientTemplate($"#=IsVisible==true?'{L["Yes"].Value}':'{L["No"].Value}'#");
            })
            .ToolBar(tools =>
            {
                tools.Search().Text(" ");
                tools.Excel().Text(" ");
                tools.Pdf().Text(" ");
            })
            .Height(650)
            .Scrollable(x => x.Height(650))
            .Sortable()
            .Selectable()
            .Search(x=>x.Field(b=>b.Name).Field(b=>b.Link).Field(b=>b.Description))
            .Pageable(x => x.Refresh(true))
            .Filterable()
            .Events(a => a.DataBound("kendoGrid.events.databound")
            .Edit("kendoGrid.events.edit")
            .Cancel("kendoGrid.events.cancel")
            .CellClose("kendoGrid.events.cellClose")
            .Change("kendoGrid.events.change"))
            .DataSource(dataSource => dataSource
            .WebApi()
            .Model(model =>
            {
                model.Id(p => p.Id);
            })
            .Read(read => read.Url("/api/app/Category/data-source")).Filter(a => a.Add(b => b.CategoryParentId).IsEqualTo(Model.Id))
            .Sort(a => a.Add(b => b.Order))
            ).Deferred()
            )
    </abp-card-body>
</abp-card>
