@using Dev.Store
@model Dev.Store.Web.Public.Pages.IndexComponents.HomeSliderComponent.HomeSliderModel
@{
    Layout = null;
    ViewBag.FluidLayout = true;
}
<section class="banner-furniture ratio_45 banner-padding">
    <div class="container-fluid">
        <div class="row partition3">
            @foreach (var slider in Model.Sliders)
            {
                <div class="col-md-4">
                    <a href="@slider.ButtonLink">
                        <div class="collection-banner p-right text-end">
                            <div class="img-part">
                                <img src="@slider.UploadFile.Big()" alt="@slider.UploadFile.FileName"
                                     class="img-fluid blur-up lazyload bg-img">
                            </div>
                            <div class="contain-banner banner-3">
                                <div>
                                    <h4>@slider.Title</h4>
                                    <h2>@slider.Subtitle</h2>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }

        </div>
    </div>
</section>